input:invalid{
	border: 1px solid red;
}

#bodyDesign{
	background-color: #fafafa;
}

#bodycontent{
	margin-top: 10px;
	margin-left: 35%;
	margin-right: 35%;
	width: 30%
}

#profilepicture{
	width: 150px;
	height: 150px;
}

#profileusername{
	float: left;
}

#userActions{
	clear: left;
}

#searchinput{
	float: left;
}

#searchsubmit{
	clear: left;
}

#profileInfo{
	float: left;
	min-width: 150px;
}

#likeheart{
	width: 20px;
	height: 20px;
}

#profileInfoContainer{
	height: 30px;
}

#postDiv{
	background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-left: -1px;
    margin-right: -1px;    
    margin-bottom: 15px;
}

#postDivContent{
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}






