input:invalid{
	border: 1px solid red;
}

#bodycontent{
	margin-top: 10px;
	margin-left: 35%;
	margin-right: 35%;
	width: 30%
}

#content{
}

#profilepicture{
	width: 150px;
	height: 150px;
}

#profileusername{
	float: left;
}

#userActions{
	clear: left;
}

#searchinput{
	float: left;
}

#searchsubmit{
	clear: left;
}

#profileInfo{
	float: left;
	min-width: 150px;
}

#likeheart{
	width: 20px;
	height: 20px;
}

#profileInfoContainer{
	height: 30px;
}