input:invalid{
	border: 1px solid red;
}

#bodycontent{
	margin-top: 10px;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%
}

#content{
}

#profilepicture{
	width: 150px;
	height: 150px;
}

#profileusername{
	float: left;
}

#userActions{
	clear: left;
}