<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
<head>
	<title>{% block title 'Socialize' %}</title>
</head>
<body>
    {% if user.loggedIn == true %}
    	<div>
    		<p>You are logged in as {{ user.username }}</p>
    	</div>
    	<div>
        	<form action="/logout" method="post">
          		<!-- <input type="hidden" name="logoutcsrf" value="{{ "logoutcsrf" }}"> -->
        		<input id="logout" type="submit" value="Logout" />
        	</form>
        </div>
    {% else %}
    	<div>
    		<a href="/login">Login</a>
    	</div>
    {% endif %}
    
	{% block content %}{% endblock %}
</body>
</html>