{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Index
{% endblock %}
{% block content %}
<div>
	<p>Welcome to Socialize</p>
</div>
<div>
	Search for user
    <form action="/search" method="get">
      <div>
      	<label>username:<label/>
      	<input type="text" id="username" name="username" value="" placeholder="username" />
      </div>
      <input id="submit" type="submit" value="Search" />
    </form>
    
    founded usernames
    <div>
        {% if usernames is not empty %}
        	{% for username in usernames %}
        		<div>
                    <div>
                        <a href="/{{ username }}">{{ username }}</a>
                    </div>
        		</div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script type="text/javascript">
	$("#username").change(function (e) {
	    var usernameInput = $(e.target);
	    $.ajax({
	      type: 'GET',
	      url: '/search',
	      data: {'username' : usernameInput.val()},
	      success: function (response){
	  		if (response == true)		  		
				console.log("email existiert" + response);
			else
				console.log("email nicht vorhanden" + response);
	      },
	      error: function(e){
	        console.log("Da isch edn error passiert! ;(");
	        console.log(e);
	      }
	    });
	  });
</script>
{% endblock %}