{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Forgot Password
{% endblock %}

{% block content %}
{% if reset == true %}
<p>A reset email was sent to you. Did not get an email? Check your spam folder.</p>
{% else %}
<form action="/password" method="post">
  <label>Email OR username:</label>
  <input type="text" id="username" name="username" value="{{ username }}"/><br/>
  <input type="submit" value="Reset Password " />
</form>
{% endif %}
{% endblock %}